
<launch>
	<arg name="num_agents"/>
	<arg name="score_run"/>
	<arg name="num_nodes"/>
	<arg name="param_number"/>
	<arg name="coord_method"/>
	<arg name="gazebo_obstacles"/>
	<arg name="p_task_initially_active"/>

	<group ns="dmcts">
	    <node pkg="dmcts_world" name="dmcts_world" type="dmcts_world" output="screen"/>
	    <param name="test_environment_number" value="0"/>
	    <param name="param_number" value="$(arg param_number)"/>
	    <param name="number_of_agents" value="$(arg num_agents)"/>
	    <param name="world_directory" type="str" value="/home/andy/catkin_ws/src/dmcts_world/worlds/"/>
	    <param name="score_run" type="bool" value="$(arg score_run)"/>
	    <param name="display_map" type="bool" value="true"/>
        <param name="number_of_nodes" value="$(arg num_nodes)"/>
        <param name="use_gazebo_obstacles" type="bool" value="$(arg gazebo_obstacles)"/>
        <param name="coord_method" type="str" value="$(arg coord_method)"/>
        <param name="p_task_initially_active" type="double" value="$(arg p_task_initially_active)"/>
        
        <node pkg="xbee_bridge" name="xbee" type="xbee_bridge.py" output="screen"/>
        <param name="com_port" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="9600"/>
        <param name="com_type" value="ground_station"/>
        <param name="fake_agent" value="false"/>
        <param name="agent_index" value="-1"/>
        
	</group>
</launch>
