
<launch>
	<arg name="num_agents"/>
	<arg name="score_run"/>
	<arg name="num_nodes"/>
	<arg name="param_number"/>
	<arg name="coord_method"/>
	<arg name="gazebo_obstacles"/>
	<arg name="p_task_initially_active"/>
	
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_0" args="1 0 0 0 0 0 1 map uav0/world 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_1" args="1 0 0 0 0 0 1 map uav1/world 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_2" args="1 0 0 0 0 0 1 map uav2/world 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_3" args="1 0 0 0 0 0 1 map uav3/world 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_4" args="1 0 0 0 0 0 1 map uav4/world 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_5" args="1 0 0 0 0 0 1 map uav5/world 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_6" args="1 0 0 0 0 0 1 map uav6/world 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_tf_broadcast_7" args="1 0 0 0 0 0 1 map uav7/world 100"/>

	<group ns="dmcts">
	    <node pkg="dmcts_world" name="dmcts_world" type="dmcts_world" output="screen"/>
	    <param name="test_environment_number" value="0"/>
	    <param name="param_number" value="$(arg param_number)"/>
	    <param name="number_of_agents" value="$(arg num_agents)"/>
	    <param name="world_directory" type="str" value="/home/andy/catkin_ws/src/dmcts_world/worlds/"/>
	    <param name="score_run" type="bool" value="$(arg score_run)"/>
	    <param name="display_map" type="bool" value="true"/>
        <param name="number_of_nodes" value="$(arg num_nodes)"/>
        <param name="use_gazebo_obstacles" type="bool" value="$(arg gazebo_obstacles)"/>
        <param name="coord_method" type="str" value="$(arg coord_method)"/>
        <param name="p_task_initially_active" type="double" value="$(arg p_task_initially_active)"/>
	</group>
</launch>
